<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Layout/layout :: head}">
</head>
<body>
<header th:replace="~{Layout/layout :: header}"></header>
<div class="container py-4">
    <div class="card text-white bg-dark ">
        <div class="card-header text-center" th:text="${title}"></div>
        <div class="card-body">
            <h4 class="card-title"><a class="btn btn-secondary btn-xs" th:href="@{/form}"><i
                    class="fa-solid fa-address-card"></i> Register</a>
            </h4>
            <table class="table table-dark text-center">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Create AT</th>
                    <th colspan="2" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${users}">
                    <th scope="row"><a class="btn btn-secondary btn-xs" th:href="@{/ver/}+${user.id}" th:text="${user.id}"></a></th>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.createAt}"></td>
                    <td><a class="btn btn-success btn-xs" th:href="@{'/invoice/form/'+ ${user.id}}"><i class="fa-solid fa-file-invoice"></i>Create Invoice</a></td>
                    <td><a class="btn btn-light btn-xs" th:href="@{/form/} + ${user.id}" th:text="'Edit'"></a></td>
                    <td><a class="btn btn-danger btn-xs" th:href="@{/delete/} + ${user.id}" onclick="return confirm('Are you sure to delete ? ');" th:text="'Delete'"></a></td>
                </tr>
                </tbody>
            </table>
           <nav th:replace="~{paginator-nav :: paginator}"></nav>
        </div>
    </div>
</div>
<footer th:replace="~{Layout/layout :: footer}"></footer>
</body>
</html>