<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Layout/layout :: head}">
</head>
<body>
<header th:replace="~{Layout/layout :: header}"></header>
<div class="container py-4">
    <div class="card text-white bg-dark">
        <div class="card-header" th:text="${title}"></div>
        <div class="card-body">
            <h4 class="card-title">
                <a class="btn btn-primary btn-xs" th:href="@{'/invoice/form/'+${user.id}}"
                ><i class="fa-solid fa-file-invoice"></i> Create Invoice</a>
            </h4>
            <img th:if="${#strings.length(user.foto)>0}" class="img-thumbnail rounded float-left" style="max-width: 25%"
                 th:src="@{'/uploads/' + ${user.foto}}" th:alt="${user.foto}"/>
            <ul class="list-group">
                <li class="list-group-item" th:text="${user.name}"></li>
                <li class="list-group-item" th:text="${user.lastName}"></li>
                <li class="list-group-item" th:text="${user.email}"></li>
                <li class="list-group-item" th:text="${user.createAt}"></li>
            </ul>
            <div th:if="${#lists.isEmpty(user.invoices)}" class="alert alert-info my-4"
                 th:text="'There are no invoices for the user. '+ ${user.name}+ ' ' + ${user.lastName}">}
            </div>
            <table th:if="${not #lists.isEmpty(user.invoices)}" class="table table-bordered table-dark table-striped my-4">
                <thead>
                <tr>
                    <th>folio</th>
                    <th>description</th>
                    <th>Date</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="invoice : ${user.invoices}">
                    <td th:text="${invoice.id}"></td>
                    <td th:text="${invoice.description}"></td>
                    <td th:text="${invoice.createAt}"></td>
                    <td th:text="${invoice.total}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer th:replace="~{Layout/layout :: footer}"></footer>
</body>
</html>