<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<div class="alert alert-success">
    <span th:text="'Tiempo Transcurrido: '+${tiempoTranscurrido}+ ' en milisegundos'"></span>
</div>
<h1 th:text="${titulo}" class="text-center"></h1>
<div class="container">
    <a th:href="@{/form}" class="btn btn-success btn-lg my-3">volver</a>
    <ul class="list-group">
        <li class="list-group-item" th:text="${usuario.nombre}"></li>
        <li class="list-group-item" th:text="${usuario.apellido}"></li>
        <li class="list-group-item" th:text="${usuario.username}"></li>
        <li class="list-group-item" th:text="${usuario.password}"></li>
        <li class="list-group-item" th:text="${usuario.email}"></li>
        <li class="list-group-item" th:text="${usuario.identificador}"></li>
        <li class="list-group-item" th:text="${usuario.cuenta}"></li>
        <li class="list-group-item" th:text="${usuario.pais.id}"></li>
        <li class="list-group-item" th:text="${usuario.pais.codigo}"></li>
        <li class="list-group-item" th:text="${usuario.pais.nombre}"></li>
        <li class="list-group-item" th:text="${#dates.format(usuario.fechaNacimiento,'dd/MM/yyy')}"></li>
        <li class="list-group-item" th:text="'Habilitado :'+ ${usuario.habilitar}"></li>
        <li class="list-group-item" th:text="'Genero :'+ ${usuario.genero}"></li>
        <li class="list-group-item" th:text="'Valor secreto :'+ ${usuario.valorSecreto}"></li>
    </ul>
    <div>Roles</div>
    <ul class="list-group">
        <li class="list-group-item" th:each="role: ${usuario.roles}"
            th:text="${role.id}+' '+${role.nombre} +'=> '+${role.role}"></li>
    </ul>
</div>
</body>
</html>